@font-face {
  font-family: skull-story;
  src: url(../fonts/Skull-Story.ttf);
}
body {
  font-family: skull-story;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fondo{
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/fondoi.png) ;
  background-size: 100px;
  background-repeat: space;
  backface-visibility: hidden;
  position: absolute;
  opacity: 0.2;
}
.efecto {
  display: block;
  white-space: nowrap; /*espacios en blanco no romper la linea*/
  border-right: 4px solid;
  width: 17ch; /*el 28 indica la cantida de letras que hay con espacios*/
  animation: typing 5s steps(21) infinite, blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing{
 from{ width: 0;}
}

@keyframes blink {
  50% { border-color: transparent}
}
.caja {
  
  background-color: rgba(255, 255, 255, 0.953);
  width: 90%;
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin: 0 auto;
}
.movimiento {
  width: 100%;
  height: auto;
  animation: loading 2s ease infinite;
}
@keyframes loading {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
.caja .movimiento span {
  color: rgba(105, 9, 184, 0.836);
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(255, 171, 3);
  font-weight: bold;
}
.calaberita {
  width: 100%;
  height: auto;
  font-size: 50px;
  text-align: justify;
  color: rgb(255, 171, 3);
  text-shadow: 1px 1px 2px rgb(213, 143, 3);

  box-shadow: 2.8px 2.8px 2.2px rgba(118, 20, 203, 0.02),
    6.7px 6.7px 5.3px rgba(118, 20, 203, 0.028),
    12.5px 12.5px 10px rgba(118, 20, 203, 0.035),
    22.3px 22.3px 17.9px rgba(118, 20, 203, 0.042),
    41.8px 41.8px 33.4px rgba(118, 20, 203, 0.05),
    100px 100px 80px rgba(118, 20, 203, 0.07);

  animation: fadeIn 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(1) blur(10px);
  }
}

.burbuja {
  border-radius: 50%;
  background-color: rgba(105, 9, 184, 0.836);
  position: absolute;
  animation: burbujas 3s linear infinite;
  text-align: center;
  font-size: 60px;
}
.burbuja img {
  width: 80px;
  height: 80px;
}
.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
}
.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 5s;
}
.burbuja:nth-child(3) {
  width: 70px;
  height: 70px;
  left: 56%;
  font-size: 30px;
  animation-duration: 4s;
}
.burbuja:nth-child(4) {
  width: 100px;
  height: 100px;
  left: 70%;
  animation-duration: 6s;
}
.burbuja:nth-child(5) {
  width: 100px;
  height: 100px;
  left: 88%;
  animation-duration: 7s;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0.8;
  }
  30% {
    transform: translate(40px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

.imagen {
  margin-top: 3%;
  width: auto;
  min-height: auto;
  animation: loading 2s ease infinite;
}
.imagen img {
  width: 300px;
  height: 200px;
  border-radius: 5%;
  animation: fadeIn 3s ease;
  box-shadow: 3px 6.5px 15.9px rgba(255, 171, 3, 0.05),
    7px 15.2px 27.9px rgba(255, 171, 3, 0.038),
    14.6px 31.8px 38.6px rgba(255, 171, 3, 0.029),
    46px 100px 80px rgba(255, 171, 3, 0.02);
}
.imgmodifi img{
  width: 60px;
  height: 60px;
}

/*----------------------------------------------*/
@media screen and (max-width:900px){

  .calaberita {
    text-align: center;
  }
  @keyframes burbujas {
    0% {
      bottom: 0;
      opacity: 0.6;
    }
    30% {
      transform: translate(15px);
    }
    50% {
      opacity: 0.2;
    }
    100% {
      bottom: 100vh;
      opacity: 0;
    }
  }
  .burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 1%;
    animation-duration: 3s;
  }
  .burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 20%;
    animation-duration: 5s;
  }
  .burbuja:nth-child(3) {
    width: 70px;
    height: 70px;
    left: 40%;
    font-size: 30px;
    animation-duration: 4s;
  }
  .burbuja:nth-child(4) {
    width: 100px;
    height: 100px;
    left: 50%;
    animation-duration: 6s;
  }
  .burbuja:nth-child(5) {
    width: 100px;
    height: 100px;
    left: 80%;
    animation-duration: 7s;
  }
}
/*-----------------------------------------*/
@media screen and (max-width:700px){
  .caja .movimiento span {
    font-size: 40px;
  }
  .calaberita {
    text-align: center;
    font-size: 36px;
  }
  .efecto {
    
    width: 15ch; 
  }
  
  
  .burbuja:nth-child(5) {
    width: 100px;
    height: 100px;
    left: 70%;
    animation-duration: 7s;
  }
 
}